@import '../../variables.module.scss';

.contact {
    position: relative;
    display: inline-block;
    width: calc(50% - 5px) !important;
    height: 26px;
    padding: 1px;
    box-sizing: border-box;
    border: 1px solid black;
    margin: 0 1px 2px;
    &:hover{
        .remove-button{
            display: block !important;
        }
    }
};

.remove-button {
    position: absolute !important;
    right: 0;
    top: -4px;
    background-color: transparent !important;
    box-shadow: none !important;
    border: none !important;
    &:hover {
        display: block;
        background-color: transparent !important;
    }
}